.idea/
.DS_Store
IaC/aws/.DS_Store
IaC/aws/codepipeline/provider/*
IaC/aws/codepipeline/tenant/*
IaC/aws/codepipeline/backend/*
IaC/aws/codepipeline/.terraform*
IaC/aws/codepipeline/terraform*
IaC/aws/codepipeline/.DS_Store
IaC/aws/kubernetes/.terraform*
IaC/aws/kubernetes/terraform*
IaC/aws/kubernetes/.DS_Store
IaC/aws/client-vpn/.terraform*
IaC/aws/client-vpn/terraform*
IaC/aws/client-vpn/.DS_Store
IaC/aws/route53/.terraform*
IaC/aws/route53/terraform*
IaC/aws/route53/.DS_Store
IaC/aws/route53/provider/*
IaC/aws/route53/tenant/*
IaC/aws/tgw/.terraform*
IaC/aws/tgw/terraform*
IaC/aws/tgw/.DS_Store
Iac/gcp/.DS_Store
IaC/gcp/kubernetes/.DS_Store
IaC/gcp/kubernetes/.terraform*
IaC/gcp/kubernetes/terraform*
IaC/gcp/enable-services/.DS_Store
IaC/gcp/enable-services/.terraform*
IaC/gcp/enable-services/terraform*
IaC/gcp/gce-fluentd-tf/.DS_Store
IaC/gcp/gce-fluentd-tf/.terraform*
IaC/gcp/gce-fluentd-tf/terraform*
