
IaC/codepipeline/provider/*
IaC/codepipeline/tenant/*
IaC/codepipeline/backend/*
IaC/codepipeline/.terraform/*
IaC/codepipeline/.terraform.lock.hcl
IaC/codepipeline/terraform.tfstate
IaC/codepipeline/terraform.tfstate.backup
IaC/codepipeline/.DS_Store
IaC/kubernetes/.terraform/*
IaC/kubernetes/.terraform.lock.hcl
IaC/kubernetes/terraform.tfstate
IaC/kubernetes/terraform.tfstate.backup
IaC/kubernetes/.DS_Store
UI/provider/.idea/*